
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        h1{
            color: red;
        }
        h2{
            color: red;
        }
        .con {
            line-height: 50px;
        }
        .con1 {
            text-decoration: line-through;
        }
        .bgcolor{
            background-color: yellow;
        }
        #con2 {
            text-decoration: underline;
            font-style: italic;
        }
        .con3 {
            letter-spacing: 5px;
        }
        ol{
            color: rgb(128, 6, 128);
        }
        ul{
            color: rgb(128, 6, 128);
        }
        p{
            color: brown;
        }

    </style>
</head>
<body>
    <h1>This is First Css Assignment</h1>
    <hr>
    <h2><i>What is CSS?</i></h2>
    <div class="con">
      <ol>
        <li>CSS stands for Cascading Style Sheets.</li>
        <li>
          CSS describes how HTML elements are to be displayed on screen, paper,
          or in other media.
        </li>
        <li>
          <b><span class="con1"> CSS is not neccesary</span>
            <span class="bgcolor">CSS saves a lot of work.</span></b>
          It can control the layout of multiple web pages all at once
        </li>
        <li id="con2">External stylesheets are stored in CSS files.</li>
      </ol>
    </div>
    <h2><i>CSS can be added to HTML documents in 3 ways:</i></h2>
    <div class="con3">
      <ul>
        <li>Inline - by using the style attribute inside HTML elements.</li>
        <li>Internal - by using a style element in the head section.</li>
        <li>
          External - by using a link element to link to an external css file.
        </li>
        <li>
          The most common way to add CSS, is to keep the styles in external CSS files. However, 
          <span class="bgcolor">in this tutirial we will use inline and internal styles, </span>
          because this is easier to demonstraye, and easier for you to try it yourself.
        </li>
      </ul>
    </div>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore
      possimus, numquam eos dolorum architecto non placeat neque ullam alias
      ratione eaque pariatur adipisci esse earum consequuntur? Aliquam impedit
      repudiandae explicabo.
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis corrupti
      quae maxime suscipit odit omnis fuga voluptate vero numquam tenetur
      repudiandae odio harum quo temporibus, in, unde itaque eos assumenda.
    </p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
    <span class="bgcolor"><a href="https://www.prepbytes.com/"><i>Prepbytes home</i></a></span>
  

</body>
</html>